<div *ngIf="abilities$ | async as abilities">
  <div *ngFor="let ability of abilities" class="char-ability">
    <div class="ability-block">
      <h3>{{ability.name}}</h3>
      <h1>{{ability.modifier | mod}}</h1>
      <div class="ability-level" (click)="levelUpAbility(ability.level, ability.name)">
        <span>{{ability.level}}</span>
      </div>
    </div>
    <div class="ability-skill">
      <div class="skill-details">
        <span>Saving Throw:</span>
        <span>{{ability.save}}</span>
      </div>
      <div class="skill-details" *ngFor="let skill of ability.skills" (click)="incSkillProf(skill.proficiency, skill.name)">
        <span>{{skill.proficiency | proficiency}} {{skill.name}}</span>
        <span>{{skill.modifier | mod}}</span>
      </div>
    </div>
  </div>
</div>
